.font-family-raleaway {
    font-family: 'Abril Fatface', cursive;
}

.d-flex {
    display: flex;
}

.justify-content-space-btw {
    justify-content: space-between;
}

.padding-horizontal-sm {
    padding: 0.5rem;
}

.padding-2rem {
    padding: 2rem;
}

.column-gap-sm {
    column-gap: 0.6rem;
}