.font-family-abril {
    font-family: 'Abril Fatface', cursive;
}

.d-flex {
    display: flex;
}
.justify-content-space-btw {
    justify-content: space-between;
}
.justify-content-ctr{
    justify-content: center;
}
.align-items-ctr{
    align-items:center;
}
.flex-direction-column{
    flex-direction: column;
}
.padding-horizontal-sm {
    padding: 0.5rem;
}

.padding-2rem {
    padding: 2rem;
}
.column-gap-sm {
    column-gap: 0.6rem;
}
.padding-leftRight {
    padding: 0 2rem 0;
}
.margin-vertical{
    margin:2rem 0;
}
.height-100vh{
    height:100vh;
}